$zero: 0;
$primary-color: black;
$white: white;
$black: black;

$sm: 15px;
$md: 20px;
$lg: 30px;

$primary-font: Arial, Helvetica, sans-serif;
$Secondary-font: 'Sorce Sans Pro',Arial, Helvetica, sans-serif;
